@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@theme {
  --font-noto-sans: 'Noto Sans', 'sans-serif';
}

html, body {
  width: 100%;
  overflow-x: hidden;
}
